html {
  background:url("../images/wall.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #17202A;
}
h1{
  text-align: center;
  color: #17202A;
  font-family: sans-serif;
  font-weight: bold;
}
h3{
  text-align: center;
  color: #17202A;
  font-family: sans-serif;
  font-weight: bold;
}
.headings{
font-family: sans-serif;
color: #17202A;
text-align: center;
}
.bodys {

  color: #17202A;
  font-family: sans-serif;
  display: inline;
  width: 78%;
  float: left;
  padding-top: 2%;
  line-height: 1.9em;
  padding-left: 1.5%;
}

.sidebars{
    text-align: center;
    float: right;
  background-color: inherit;
  line-height: 1.9em;
    color: #17202A;
    width: 20%;
    padding-top: 4%;
    padding right: 1.5%;
    font-family: sans-serif;
    border: 2px solid grey;

  }
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #33333A;
    float: left;
}
li a:hover {
    background-color: #111111;

}
li {
    float: left;
  }
 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
}
